@media (min-width:2000px){
    html{
        width:1920px;
        margin:0 auto;}
}

    html{
        font-family: 'Pretendard',sans-serif;
        font-size: var(--basic-font-pc);
        scroll-behavior: smooth;
    }
    p{
        line-height: 140%;
    }
    .common-frame{
        width:auto;
        margin:0 3rem;
    }

    .hero{
    height:100vh;
    min-height: 700px;
    background: url(../img/banner.png) no-repeat 50% 50% / cover;
    color:#fff;
    display: flex;
    }
    .left h1{
        font-size: var(--space-3x-large);
    }
    .right h1{
        font-size: var(--space-3x-large);
    }
