@media (min-width:2000px){
    html{
        width:1920px;
        margin:0 auto;}
}

html{
    font-family: 'Pretendard', sans-serif;
    font-size: var(--basic-font-pc);
    scroll-behavior: smooth;
}
p{
    line-height: 140%;
}
.common-frame{
    width:auto;
    margin:0 3rem;
}

.all-menu{
    display: none;
}
.hero {
    height: 100vh;
    min-height: 700px;
    background: 
    url(../img/banner.png) no-repeat 50% 50% / cover;
    color: #fff;
    display: flex;
    gap: 20rem;
    
    position: relative;
}
.hero:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#425355, #644264);
    mix-blend-mode: color-burn;
    opacity: 1;
    /* z-index: 0; */
    transition:all 1s ease 0s;
}

.hero.on:after {
    opacity: 0;
}

.hero-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}
.hero .left h1{
    font-size: var(--space-3x-large);
}
.hero .right{
    align-items: flex-end;
}
.hero .right h1{
    font-size: var(--space-3x-large);
}

/* 메뉴바 */
.menu-sticky{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    position: sticky;
    left:0;
    top:-2rem;
    z-index: 2100;
}
.btn-menu{
    width:4rem;
    aspect-ratio: 1/1;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:1px solid #000; */
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    cursor: pointer;
}
.img-wrap {
    display: inline-block;
    transition: transform .6s ease;
    line-height: 0;
    position: sticky;
    top: 0.2rem;
}

.swiper-fade {
    height: 100%;
}
.popup-txt-slider{
}

.popup-txt-slider .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
    background: linear-gradient(180deg, #f3f9fc 0%, #e3f0f7 100%);
    backdrop-filter: blur(11px);
}


.btn-menu:hover .img-wrap{
    transform: scale(1.3);
}
.btn-menu.open:hover .img-wrap{ transform: none; }
.btn-menu img {
    height: 1.2rem;
    position: sticky;
    left: 0;
    top: 0.25rem;
}
.btn-menu:hover img{
    animation: spin 2.5s linear infinite
}
.btn-menu.open:hover img{ animation: none; }


/* 메뉴바 클릭 */
.all-menu{
    position: fixed;
    width:300px;
    padding:50px 30px;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%)scale(0.7);
    opacity: 0;
    pointer-events: none;
    transition:all 0.4s ease 0s;
    background-color: rgb(255 255 255 / 89%);
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.all-menu.on{
    transform:translate(-50%,-50%)scale(1);
    opacity: 1;
    pointer-events: auto;
}
.all-menu-list{
    font-weight: 700;
    text-transform: capitalize;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:1rem;
    /* padding:20vh 0; */
}

/* 프로필 */
.pro-title{
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 8rem;
}
.pro-title .content{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top:12rem;
}
.content h3 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 140%;
}
.pro-title h1 {
    line-height: 116%;
    font-size: 3rem;
}
.pro-title h1 span{
    font-size: 5rem;
}
.bold{
    color: var(--point-color);
}

/* 이미지들어간프로필 */
.tap{
    display: inline-block;
    padding: .2rem 1rem;
    background-color: #a1cbdf;
    color: white;
    border-radius: 1rem;
}
.tap.on{
    animation: shake 0.6s ease ;
}
.profile1{
    margin-top: 7rem;
    display: flex;
    gap: 8rem;
}
.me {
    text-align: center;
    width: 578px;
}
.me p{
    margin-bottom: .5rem;
}
.me figure {
    line-height: 0;
    height: 100%;
}
.me figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

/* 카드뒤집기 */
.flip-card {
    width: auto;
    /* height: 795px; */
    width: 100%;
    aspect-ratio: 578/795;
    perspective: 1200px;
    margin: 0 auto;
}
.flip-inner{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s ease;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-inner{
    transform: rotateY(180deg);
}

.front,
.back{
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
}

.back{
    transform: rotateY(180deg);
}
.back figure img{
    transform: scaleX(-1);
}
/* 뒷면 어두운 필터 */
.back-filter{
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* 뒷면 텍스트 */
.back-info{
    position: absolute;
    inset: 0;
    z-index: 2;
    display: flex;
    align-items: flex-end;
    padding: 2rem;
    box-sizing: border-box;
    color: #fff;
    text-align: left;
}

.back-info dl{
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 7rem 1fr;
    gap: 1.2rem 2rem
}

.back-info dt,
.back-info dd{
    margin: 0;
}

.back-info dt{
    font-weight: 700;
}

.back-info dd{
    word-break: keep-all;
}



.profile-desc-grid{
    display: flex;
    flex-direction: column;
    gap: 5rem;
    height: 100%;
    justify-content: flex-end;
}
.profile-desc-grid h4{
    font-weight: 700;
    margin-bottom: 2rem;
    font-size: 1.25rem;
}
.edu-dl, .certi-dl{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 1rem 3rem;
}
.edu-dl dt{
    grid-column: 1/2;
}

/* 스킬 */
.skills{
    margin-top: 12rem;
}
.skills-wrap{
    background: linear-gradient(180deg, #367592 0%, #a1cbdf 100%);
    border-radius: 1.25rem;
    padding: 4rem 8rem;
    color: white;
}
.exp-title{
    text-align: center;
}
.exp-title h2{
    font-size: 5rem;
    margin-bottom: 2rem;
}
.exp-title h2+p{
    margin-bottom: 4rem;
}
.skill-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 4rem 3rem;
}
.tool{
    display: flex;
    gap: .5rem;
    border-bottom: 1px solid white;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}
.skill-grid>li{
    padding: .5rem;
    transition: all .5s ease 0s;
    cursor: default;
}
.skill-grid>li:hover{
    background: rgba(255, 255, 255, 0.269);
    border-radius: 10px;
}
/* .skill-grid>li:hover .icon img{
    animation: spin 2.5s linear infinite
} */

/* 팝업, 포스터, 배너 */
.wrapper {
    background:
    url(../img/snowflake.svg) no-repeat 40% 0% / 20rem auto,
    url(../img/snowflake.svg) no-repeat 70% 50% / 20rem auto,
    url(../img/snowflake.svg) no-repeat 20% 100% / 20rem auto,
    linear-gradient(180deg, #FFFFFF 0%, #73c4eabc 100%);
    margin-top: 6rem;
}
/* 팝업 */
.popup h2{
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
}
.popup h2+p{
    text-align: center;
    margin-bottom: 10rem;
}
.popup-contents{
    display: flex;
    gap:177px;
}
.popup-txt{
    width:430px;
}
.popup-station{
    width:calc(100% - 430px - 177px);
}
.popup-txt h3{
    font-size:1.5rem;
    margin-bottom: 3rem;
    font-weight: 700;
}
.popup-txt p{
    margin-top: 1rem;
}
.popup-img-slider .swiper-wrapper{
    transition-timing-function: linear;
}
.popup-img-slider img{
    width:100%;
    object-fit: cover;
}
.popup-txt-slider .swiper-slide {
    background: linear-gradient(180deg, #f7fcfe 0%, #edf7fc 100%);
}

/* 포스터 */
.poster{
    margin-top: 10rem;
}
.poster-title h2{
    /* text-align: center; */
    font-size: 5rem;
    color: var(--point-color);
}
.poster .common-frame{
    display: flex;
    gap:172px;
    align-items: flex-start;
}
.poster-title{
    width:734px;
    position: sticky;
    top:6rem;
    left:0;
}
.poster-title h2{
    font-size: 5rem;
    margin-bottom: 1rem;
}

.poster-list{
    flex:1;
    display: flex;
    flex-direction: column;    
    gap:6rem;
}
.poster-list>li{
    display: flex;
    gap:65px;
}
.poster-list>li:nth-of-type(2n){
    flex-direction: row-reverse;
}
.poster-list>li figure{
    width:500px;
    flex-shrink: 0;
}
.poster-txt{
    flex:1;
    padding-top: 5rem;
}
.poster-txt h3{
    font-weight: 700;
    margin-bottom: 4rem;
}
.poster-txt p{
    margin-top: 1rem;
}
/* 배너 */
.banner{
    margin-top: 10rem;
    padding-bottom: 15rem;
}
.banner h2{
    font-size: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}
.banner h2+p{
    text-align: center;
    margin-bottom: 4rem;
}
.banner_txt{
    display: flex;
    gap: 3rem;
}

/* 디테일페이지 */
.detail h2{
    font-size: 5rem;
    color: var(--point-color);
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 10rem;
}
.detail h2+p{
    text-align: center;
    margin-bottom: 4rem;
}
.detail-swiper figure{
    position: relative;
    margin-bottom: 2rem;
}
.detail-swiper figure:hover img{
    filter: brightness(0.4);
}
.detail-swiper figure:after{
    color:#fff;
    font-size:1.5rem;
    font-weight: 700;
    content:"click!";
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    display: none;
}
.detail-swiper figure:hover:after{
    display: block;
}
.detail-swiper figure:hover{
    cursor: pointer;
}
.detail-swiper h4{
    margin-bottom: 0.5rem;
}
 /* 닫어 */
.btn-close{
    background-color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width:2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.203);
    position: sticky;
    top:1rem;
    left:50%;
    transform: translateX(-50%);
}
.btn-close img{
    height:1.2rem;
}

.btn-top{
    cursor: pointer;
    background-color: #fff;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    width:2.5rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.203);
    position: sticky;
    top:calc(100vh - 3.5rem);
    left:50%;
    transform: translateX(-50%);
    margin-bottom: 3rem;
}
.btn-top img{
    height:1.2rem;
}
.detail-swiper .swiper-wrapper{
    transition-timing-function: linear!important;
}
.detail-title {
    text-transform: uppercase;
    font-weight: 900;
    text-align: center;
    font-size: calc(100vw/10);
    margin-top: 4rem;
    position: sticky;
    top: 35vh;
    z-index: -1;
}
.detail-content{
    text-align: center;
    padding-bottom: 6rem;
}
.detail-content h3{
    margin-top: 5rem;
    margin-bottom: 1rem;
    font-size:2rem;
}
.detail-content h2{
    margin-bottom: 6rem;
    font-size:3rem;
    font-weight: 700;
}
.detail-dl{
    width:890px;
    margin:0 auto;
}
.detail-dl dt{
    font-weight: 700;
    margin-bottom: 1rem;
}
.detail-dl dt span{
    display: block;
    margin-bottom: 0.5rem;
}
.detail-dl dd{
    margin-bottom: 3rem;
    line-height: 140%;
}
.detail-shot{
    margin: 0 auto;
    width: 768px;
    line-height: 0;
}

/* 프로젝트 */
.project{
    margin-top: 10rem;
}
.project h2{
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--point-color);
}
.project h2+p{
    text-align: center;
}
.ptitle{
    margin-top: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    font-weight: 700;
}
.responsive-icon{
    display: flex;
    justify-content: center;
    gap:1rem;
    text-align: center;
    width:50%;
    margin:0 auto;
}
.responsive-icon li{
    flex:1;
}
.responsive-icon li h5{
    font-weight: 700;
    margin-top: 1rem;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

.mo{display: none;}
.pc{display: block;}

.project>.common-frame{
    margin-bottom: 6rem;
}
.project-detail{
    line-height: 0;
}
.project-content{
    background-color: #fafafa;
    padding:6rem 0;
    text-align: center;
    padding-bottom: 0;
}
.project-content h3{
    font-weight: 700;
    display: inline-flex;
    flex-direction: column;
    gap:0.25rem;
    margin-bottom: 3rem;
}
.project-content h4{
    font-size:3rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
.project-content h4+p{
    margin-bottom: 1.5rem;
}
.project-sticky {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    position: sticky;
    top: 1.9rem;
    font-weight: 500;
}
.project-sticky a{
    display: block;
    padding:0.5rem 1.5rem;
    font-size:0.8rem;
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.project-sticky a:hover{
    background-color: var(--point-color);
    color:#fff;
}

/* 마무리 */
.contact{
    background-color: var(--point-color);
    color:#fff;
    padding:6rem 0 8rem;
    text-align: center;
}
.contact h1{
    font-size: calc(100vw / 11);
    font-weight: 700;
    margin-bottom: 3rem;
    position: sticky;
    top:30vh;
    left:0;
    /* mix-blend-mode: difference; */
    color: white;
    opacity: 0.2;
}
.contact h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.contact-menu{
    display: inline-flex;
    gap:0.5rem;
    flex-direction: column;
}
.contact-menu a{
    display: block;
    padding:0.5rem 1.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    border:1px solid #fff;
    border-radius: 100px;
}
.contact-menu a:hover{
    background-color: #fff;
    color:#000;
}

.contact h3{
    margin-top: 3rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.menu-sticky{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    position: sticky;
    left:0;
    top:-2rem;
    z-index: 2100;
}
.pro-img{
    margin: 0 auto;
    line-height: 0;
    width: 509px;
    aspect-ratio: 509/695;
}
.pro-img img{
    object-fit: cover;
}


@media (max-width:1800px){
    .popup {
        background: url(../img/pattern-check.png) repeat 0 0,
            url(../img/bg-box-80.jpg) no-repeat 0 calc(100% - 191px) / 100% 490px;
    }
    .poster-title{
        width:600px;
    }
}

@media (max-width:1700px){
    .popup {
        background: url(../img/pattern-check.png) repeat 0 0,
        url(../img/bg-box-80.jpg) no-repeat 0 calc(100% - 191px) / 100% 430px;
    }
    .poster .common-frame{
        gap:1rem;
    }
    .poster-title {
        width: initial;
        flex: 1;
    }
    .poster-list>li {
        gap: 1rem;
    }
    .poster-list>li figure{
        width:initial;
        flex-shrink: initial;
        flex:4;
    }
    .poster-txt{
        flex:3;
        padding-top: 5rem;
    }



}

@media (max-width:1600px){

    .popup {
        background: url(../img/pattern-check.png) repeat 0 0,
        url(../img/bg-box-80.jpg) no-repeat 0 calc(100%) / 100% 500px;
    }

    .exp-title{
        flex-direction: column;
    }
    .skill-grid{
        grid-template-columns: repeat(2,minmax(20px,1fr));
    }
    .popup-contents{
        gap:1rem;
    }
.popup-txt {
    width: calc((100% - 1rem)/2);
    /* color: #fff; */
}
    .popup-station{
        width:calc((100% - 1rem)/2);
    }

   .pro-title {
        margin: 0 auto;
        margin-top: 3rem;
        display: flex;
        justify-content: center;
        gap: 2rem;
        flex-direction: column;
    }
    .pro-title .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}
}
@media (max-width:1440px){
    
    .profile1{
        gap:1rem;
    }
    .sticky-figure{
        width:303px;
        position: sticky;
        left:0;
        top:3rem;
    }

    .hero {
        height: 100vh;
        min-height: 700px;
        background: url(../img/banner.png) no-repeat 50% 50% / cover;
        color: #fff;
        display: flex;
        gap: 20rem;
        position: relative;
        flex-direction: column;
        justify-content: space-between;
        padding: 2rem 0;
        box-sizing: border-box;
    }
.hero .right {
    align-items: center;
    flex-direction: column-reverse;
}
.hero .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
}

}

@media (max-width:1400px){
    .popup {
        background: url(../img/pattern-check.png) repeat 0 0,
        url(../img/bg-box-80.jpg) no-repeat 0 calc(100%) / 100% 570px;
    }

    .poster-list>li{
        flex-direction: column;
    }
    .poster-list>li:nth-of-type(2n){
        flex-direction: column;
    }
    .poster-txt {
        padding-top: 1rem;
    }
    .poster-txt h3 {
        margin-bottom: 2rem;
    }
    .popup-txt-slider .swiper-slide {
    background: linear-gradient(180deg, #f7fcfe 0%, #f1f9fd 100%);
}

}
@media (max-width:1200px){
    .poster-txt{
        padding-top: 0rem;
    }
    .back-info dl{
        gap: 1.2rem .5rem;
    }
}

@media (max-width:1100px){
    .profile-desc-grid{
        grid-template-columns: 1fr;
    }
    .certi{
        grid-column: initial;
    }
    .back-info dl{
    gap: 1.2rem auto;
}
}

@media (max-width:1050px){
    .popup {
        background: url(../img/pattern-check.png) repeat 0 0,
        url(../img/bg-box-80.jpg) no-repeat 0 calc(100%) / 100% 500px;
    }
    .profile1 {
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .popup-txt-slider .swiper-slide {
    background: linear-gradient(180deg, #f8fcfe 0%, #f0f8fc 100%);
}
}

@media (max-width:1024px){
        .detail-dl {
        width: auto;
        margin: 0;
    }

    .detail-shot {
    margin: 0 1rem;
    width: auto;
    line-height: 0;
}
    
    html{
       font-size: var(--basic-font-tab); 
    }
    .common-frame{
        width:auto;
        margin:0 2rem;
    }
    .hero{
        min-height: 500px;
    }
    .pro-title{
        flex-direction: column;
    }
    .detail-dl{
        width:auto;
        margin:0;
    }
    .detail-content h2{
        font-size:2rem;
    }
    .all-menu{
        width:auto;
        padding:initial;
        left:2rem;
        top:2rem;
        right:2rem;
        bottom:2rem;
        transform:scale(0.7);
    
    }
    .skill-grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 3rem 1rem;
}
    .all-menu.on{
        opacity: 1;
        transform:scale(1);
    }
    .skills-wrap {
        background: linear-gradient(180deg, #367592 0%, #a1cbdf 100%);
        border-radius: 1.25rem;
        padding: 4rem 1rem;
        color: white;
    }

    .profile1 {
    gap: 3rem;
    flex-direction: column;
    align-items: center;
}
}

@media (max-width:768px){
    
    .me {
    text-align: center;
    width: 80%;
}

    .contact h1{
        font-size: calc(100vw / 8);
    }
    .contact h2{
        font-size: 1.3rem;
    }
    .project h2{
        font-size:2rem;
    }
    .project h2+p{
        font-size:1.3rem;
    }
    .responsive-icon{
        width:auto;
    }
    .mo{display: block;}
    .pc{display: none;}

     html{
       font-size: var(--basic-font-mobile); 
    }
    .common-frame{
        width:auto;
        margin:0 1rem;
    }
    .hero-txt1{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding:0;
        padding-top: 6rem;
        gap:3rem;
        text-align: center;
    }
    .hero-title {
        /* font-size: calc(100vw/4.4); */
    }
    .pro-title h2{
        font-size: 2.7rem;
    }
.hero {
    justify-content: space-between;
    gap: 0;
}

.hero .left h1 {
    font-size: var(--space-2x-large);
}
.hero .right h1 {
    font-size: var(--space-2x-large);
}
    .profile1{
        flex-direction: column;
        align-items: center;
    }
    .sticky-figure {
        width: 70%;
        position: initial;
    }
    .certi-dl{
        display: grid;
        grid-template-columns: 4fr 2fr;
        gap:0.5rem 1rem;
    }
    .certi-dl dt{
        grid-column: 1/3;
    }
    .exp-title h2{
        font-size:2.5rem;
    }
    .popup-contents{
        flex-direction: column-reverse;
    }
.popup-txt {
    width: 100%;
}
    .popup-station{
        width:100%;
    }
    .popup-txt-slider .swiper-slide {
    pointer-events: none;
    transition-property: opacity;
    background: linear-gradient(180deg, #f0f9fd 0%, #ecf7fc 100%);
    backdrop-filter: blur(11px);
}

    .poster .common-frame{
        flex-direction: column-reverse;
    }

    .poster .common-frame{
        align-items: stretch;
    }
    .poster-title {
        position: initial;
        top: initial;
        left: initial;
        text-align: center;
        margin-bottom: 3rem;
    }
    .poster-list>li figure {
        text-align: center;
    }
    .poster-txt {
        text-align: center;
    }
    .poster-title h2 {
        font-size: 2rem;
    }
    .poster-title h2+p {
        font-size: 1.3rem;
    }
    .popup h2 {
        font-size: 2rem;
    }
    .popup h2+p{
        font-size: 1.3rem;
    }

    .banner h2{
        font-size:2.2rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }
    .banner h2+p{
        font-size:1.3rem;
        margin-bottom: 3rem;
    }
    .detail-title {
        font-size: calc(100vw/6);
        line-height: 100%;
    }

    .detail h2{
        font-size:2rem;
    }
    .detail h2+p{
        font-size:1.3rem;
    }
    
    .all-menu{
        left:1rem;
        top:1rem;
        right:1rem;
        bottom:1rem;
    }

    .skills {
    margin-top: 6rem;
}
    .pro-img{
        margin: 0 auto;
        line-height: 0;
        width: 100%;
        aspect-ratio: 509/695;
    }
    .pro-img img{
        object-fit: cover;
    }
}




@media (max-width:500px){
    .popup h2+p+p{
        text-align: center;
        margin-bottom: 5rem;
    }
}

@media (max-width:400px){
      .skill-grid {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 3rem 1rem;
}
    .skill-grid{
        grid-template-columns: repeat(1,minmax(20px,1fr));
    }

    .back-info dl{
    display: flex;
    flex-direction: column;
    gap: .2rem
    }
}